<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Root Route</title>
  </head>
  <body>
    <form action="/result" method="post">
      Name: <input type="text" name="name"><br>
      Location: <select name="loca"><br>
        <option value="NY">New York</option>
        <option value="VA">Virginia</option>
        <option value="MD">Maryland</option>
      </select><br>
      Language: <select name="lang">
        <option value="python">Python</option>
        <option value="javascript">JavaScript</option>
      </select><br>
      Comment (optional):<br>
      <textarea name="comm" rows="3" cols="30"></textarea><br>
      <button type="submit" name="submit">Submit</button>
    </form>
  </body>
</html>
